<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
    </style>
    <title>
        Register
    </title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/employee-signup.css">
    <script src="../javascript/employee-signup.js"></script>
</head>
<body>
    <main>
        <form>
            <h2>
                Register
            </h2>
            <fieldset>
                <div id="fname-section">
                    <section>
                        <label>
                            First Name
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
                <div id="lname-section">
                    <section>
                        <label>
                            Last Name
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div id="doc-section">
                    <section>
                        <label>
                            Documment
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
                <div id="birth-section">
                    <section>
                        <label>
                            Birth Date
                        </label>
                        <input type="date" class="date-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div id="phone-section">
                    <section>
                        <label>
                            Phone Number
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
                <div id="address-section">
                    <section>
                        <label>
                            Address
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div id="town-section">
                    <section>
                        <label>
                            Town
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
                <div id="postal-section">
                    <section>
                        <label>
                            Postal Code
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div class="email-div">
                    <section id="email-section">
                        <label>
                            Email
                        </label>
                        <input type="text" class="text-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div id="pass-section">
                    <section>
                        <label>
                            Password
                        </label>
                        <input type="password" class="text-input">
                    </section>
                </div>
                <div id="rpass-section">
                    <section>
                        <label>
                            Repeat Password
                        </label>
                        <input type="password" class="text-input">
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <input type="submit" value="Continue" class="signup-button">
            </fieldset>
        </form>
    </main>
</body>
</html>