<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
    </style>
    <title>
        Log In
    </title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <h1>
            Trackgenix
        </h1>
    </header>
    <main>
        <form>
            <h2>
                Sing In
            </h2>
            <fieldset class="field-01">
                <section id="user-section">
                    <div>
                        <input type="text" value="Username" class="login-input">
                    </div>
                </section>
                <section id="pass-section">
                    <div>
                        <input type="password" value="Password" class="login-input color-black">
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <input type="checkbox">
                <label>
                    Remember me
                </label>
            </fieldset>
            <fieldset class="field-03">
                <label>
                    <a href="../employee-signup.html">
                        Register here
                    </a>
                </label>
                <label>
                    Forgot your password?
                </label>
            </fieldset>
            <fieldset>
                <input type="submit" value="Continue" class="login-button">
            </fieldset>
        </form>
    </main>
</body>
</html>