/*  Header Section  */
header {
    display: inline-block;
    background-color: #FF0000;
    border-radius: 15px;
    position: absolute;
    width: 686px;
    height: 110px;
    left: 476px;
    top: 86px;
    font: bold 42px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

header h1 {
    position: relative;
    top: 24px;
}

/*  Aside Section   */
aside {
    display: inline-block;
    background-color: #FF0000;
    position: fixed;
    width: 277px;
    height: 100%;
}

/*  Main Section    */
.main-section {
    display: inline-block;
    position: relative;
    left: 277px;
    width: 1235px;
    height: 982px;
    border: 1px solid purple;
}

/*  Section 01: Completed  */
#s01-p01 {
    position: relative;
    width: 450px;
    height: 25px;
    top: 289px;
    left: 316px;
    font: italic 16px 'Roboto Flex', sans-serif;
}

#s01-p02 {
    position: relative;
    width: 342px;
    height: 124px;
    left: 754px;
    top: 89px;
    font: italic 16px 'Roboto Flex', sans-serif;
}

#s01-img {
    position: relative;
    width: 417px;
    height: 337px;
    left: 209px;
    top: 377px;
}

.article-45p {
    display: inline-block;
    width: 40%;
}

.article-30p {
    display: inline-block;
    width: 25%;
}
/*  Section 01: Completed   */

/*  Section 02: Completed   */
#section-02 h2 {
    background-color: #FF0000;
    position: absolute;
    width: 472px;
    left: 299px;
    top: 91px;
    font: bold 28px 'Roboto Flex', sans-serif;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    color: #FFFFFF;
}

#section-02 fieldset {
    position: absolute;
    width: 1009px;
    height: 443px;
    left: 153px;
    top: 336px;
    border: 1px solid greenyellow;
}

.section-02-article {
    display: inline-block;
    width: 484px;
    height: 157px;
    font: bold 32px 'Roboto Flex', sans-serif;
}

.section-02-article img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.section-02-article h3 {
    display: inline-block;
    position: relative;
    width: 337px;
    height: 37px;
    bottom: 63px;
}
/*  Section 02: Completed   */

/*  Section 03  */
#section-03 h2 {
    background-color: #FF0000;
    position: absolute;
    width: 472px;
    left: 294px;
    top: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    font: bold 24px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

#section-03 fieldset {
    display: inline-block;
    position: absolute;
    width: 1146px;
    height: 472px;
    left: 89px;
    top: 350px;
    border: 1px solid greenyellow;
}

.section-03-article {
    display: inline-block;
    width: 473px;
    height: 126px;
    text-align: center;
    color: black;
}

.section-03-article section {
    display: inline-block;
    width: 361px;
}

.section-03-article h3 {
    font: bold 24px 'Roboto Flex', sans-serif;
}

.section-03-article p {
    font: normal 15px 'Roboto Flex', sans-serif;
}

.s03-margin-right {
    margin-right: 190px;
}

.s03-margin-bottom {
    margin-bottom: 190px;
}


/*  Section 05  */
#section-05 h2 {
    background-color: #FF0000;
    position: absolute;
    width: 430px;
    left: 402px;
    top: 77px;
    padding-top: 15px;
    padding-bottom: 15px;
    font: bold 30px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

#section-05 > section {
    background-color: #EC4A4A75;
    position: absolute;
    width: 1235px;
    height: 830px;
    top: 152px;
    text-align: center;
}

.section-05-article {
    display: inline-block;
    height: 371px;
    width: 377px;
    border: 1px solid greenyellow;
    margin-right: 26px;
    margin-top: 31px;
}

.section-05-article h3 {
    font: bold 36px 'Rokkitt', serif;
    color: black;
}

.section-05-article p {
    background-color: #00000080;
    border-radius: 30px;
    width: 377px;
    height: 347px;
    font: normal 20px 'Roboto Flex', sans-serif;
    color: #f8f8f8;
}

/*  Footer Section  */
footer {
    background-color: #FF0000;
    position: relative;
    width: 1235px;
    height: 177px;
    left: 277px;
    font: bold 28px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

footer fieldset {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 14px;
    letter-spacing: 75px;
}

footer h4 {
    margin-bottom: 10px;
}