header {
    display: inline-block;
    background-color: #FF0000;
    border-radius: 15px;
    position: absolute;
    width: 686px;
    height: 110px;
    left: 476px;
    top: 86px;
    font: bold 42px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

header h1 {
    position: relative;
    top: 24px;
}

aside {
    display: inline-block;
    background-color: #FF0000;
    position: fixed;
    width: 277px;
    height: 100%;
}

.main-section {
    display: inline-block;
    position: relative;
    left: 277px;
    width: 1235px;
    height: 982px;
    border: 1px solid purple;
}

.article-45p {
    display: inline-block;
    width: 40%;
}

.article-30p {
    display: inline-block;
    width: 25%;
}

#section-05 h2 {
    background-color: #FF0000;
    position: absolute;
    width: 430px;
    height: 35px;
    left: 402px;
    top: 77px;
    padding-top: 15px;
    padding-bottom: 15px;
    font: bold 30px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

#section-05 section {
    background-color: #EC4A4A75;
    position: absolute;
    width: 1235px;
    height: 830px;
    top: 152px;
    text-align: center;
}

.section-05-article {
    display: inline-block;
    height: 371px;
    width: 377px;
    border: 1px solid greenyellow;
}

.section-05-article h3 {
    font: bold 36px 'Rokkitt', serif;
    color: black;
}

.section-05-article p {
    background-color: #00000080;
    border-radius: 30px;
    font: normal 20px 'Roboto Flex', sans-serif;
    color: #f8f8f8;
}

footer {
    background-color: #FF0000;
    position: relative;
    width: 1235px;
    height: 177px;
    left: 277px;
    font: bold 28px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

footer fieldset {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 14px;
    letter-spacing: 75px;
}

footer h4 {
    margin-bottom: 10px;
}