aside {
    background-color: #FF0000;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
}

@media screen and (max-width:1023px) {
    aside {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 10%;
        position: relative;
    }
    aside > section {
        width: 45%;
    }
    .aside-hide {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    aside {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: 100%;
        position: fixed;
    }
    aside > section {
        width: auto;
    }
    .aside-hide {
        display: inline-block;
    }
}

.aside-line {
    display: flex;
    align-items: center;
    /*border: 1px solid yellow;*/
}

.du-aside {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.u-aside {
    text-decoration-line: underline;
    text-decoration-style: solid;
}