body {
    width: 100%;
    height: 100%;
}

/*  Section 01  */
.s01-s {
    display: inline-block;
    position: relative;
    left: 200px;
    top: 350px;
}

.s01-s p {
    display: inline-block;
    position: relative;
    width: 350px;
    height: auto;
    left: 100px;
    bottom: 100px;
    font: italic 16px 'Roboto Flex', sans-serif;
    text-align: center;
}

.s01-s img {
    display: inline-block;
}

/*  Section 02 & Section 03  */
.sec-40p article {
    display: inline-block;
    width: 40%;
    margin-bottom: 100px;
}

.sec-40p img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.s02-f {
    position: relative;
    width: 75%;
    left: 25%;
    top: 15%;
}

.s02-f h3 {
    display: block;
    font: bold 32px 'Roboto Flex', sans-serif;
    color: black;
}

.s02-f img {
    display: inline-block;
}

.s03-f {
    position: relative;
    width: 75%;
    left: 25%;
    top: 15%;
    color: black;
    font: normal 14px 'Roboto Flex', sans-serif;
}

.s03-f h3 {
    font-size: 24px;
}

/*  Section 04  */
.s04-h2 {
    background-color: #FF0000;
    position: relative;
    width: 750px;
    height: 75px;
    left: 10%;
    top: 5%;
}

.s04-f {
    background-color: #E5E5E5;
    position: relative;
    width: 750px;
    height: 450px;
    left: 10%;
    top: 5%;
}

.s04-f form {
    position: relative;
    top: 50px;
    left: 100px;
}

.label-input {
    width: 600px;
    margin-bottom: 25px;
}

.label-input > label {
    display: inline-block;
    width: 250px;
    height: 30px;
    margin-right: 20px;
    font: bold 22px 'Roboto Flex', sans-serif;
}

.label-input > input {
    display: inline-block;
    width: 250px;
    height: 25px;
}

.label-input textarea {
    display: inline-block;
    width: 250px;
    height: 75px;
}

.radio-section {
    display: inline-block;
    width: 200px;
    height: 100px;
}

.radio-section input {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.radio-section label {
    display: inline-block;
    width: 150px;
    height: auto;
    font: bold 16px 'Roboto Flex', sans-serif;
    color: #373867;
}

.submit-button {
    background-color: #FF0000;
    position: relative;
    width: 250px;
    height: 40px;
    left: 275px;
    bottom: 10px;
    border: 0px;
    font: bold 16px 'Roboto Flex', sans-serif;
    color: #FFFFFF;
}

/*  Section 05  */
.sec-30p article {
    display: inline-block;
    width: 30%;
    margin-bottom: 50px;
}

.s05-f {
    background-color: #EC4A4A75;
    position: relative;
    top: 15%;
    text-align: center;
}

.s05-f > section {
    position: relative;
    width: 95%;
    left: 5%;
}

.s05-f h3 {
    font: bold 36px 'Rokkitt', serif;
    color: black;
}

.s05-f p {
    background-color: #00000080;
    border-radius: 30px;
    font: normal 20px 'Roboto Flex', sans-serif;
    color: #f8f8f8;
}

/*  Section 06  */
.s06 article {
    position: relative;
    left: 5%;
    top: 25%;
}

.s06 section {
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.s06 h3 {
    display: inline-block;
    width: auto;
    height: auto;
    font: bold 30px 'Roboto Flex', sans-serif;
    color: #FF0000;
}

.s06 img {
    display: inline-block;
    margin-right: 15px;
}

.s06 li {
    margin-bottom: 25px;
    list-style-type: disc;
    font: bold 14px 'Roboto Flex', sans-serif;
    color: #747474;
}

/*  Footer Section  */
footer {
    background-color: #FF0000;
    position: relative;
    width: 80%;
    height: 177px;
    left: 20%;
    font: bold 28px 'Roboto Flex', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

footer fieldset {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 14px;
    letter-spacing: 75px;
}

footer h4 {
    margin-bottom: 10px;
}